<!-- Page Header-->
<header class="page-header page-header-dark bg-primary">
    <div class="page-header-content pt-10">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">Open positions</h1>
                    <p class="page-header-text">Join us in helping create better experiences for our customers</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3">
                <i class="fas fa-users" style="width: 50px; height: 50px;"></i>
                <div class="col-sm-10">
                    <a routerLink="/board/category/Backend" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Backend
                        </button>
                    </a>
                    <a routerLink="/board/category/Frontend" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Frontend
                        </button>
                    </a>
                    <a routerLink="/board/category/Fullstack" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Fullstack
                        </button>
                    </a>
                    <a routerLink="/board/category/DevOps" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            DevOps
                        </button>
                    </a>
                    <a routerLink="/board/category/Analyst" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Analyst
                        </button>
                    </a>
                    <a routerLink="/board/category/Support" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Support
                        </button>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <i class="fas fa-code" style="width: 50px; height: 50px;"></i>
                <div class=" col-sm-10">
                    <a routerLink="/board/language/C#" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            C#
                        </button>
                    </a>
                    <a routerLink="/board/language/Javascript" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            JavaScript
                        </button>
                    </a>
                    <a routerLink="/board/language/Java" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Java
                        </button>
                    </a>
                    <a routerLink="/board/language/Python" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Python
                        </button>
                    </a>
                    <a routerLink="/board/language/C" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            C++
                        </button>
                    </a>
                    <a routerLink="/board/language/PHP" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            PHP
                        </button>
                    </a>
                    <a routerLink="/board/language/Swift" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Swift
                        </button>
                    </a>
                    <a routerLink="/board/language/Kotlin" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Kotlin
                        </button>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <i class="fas fa-city" style="width: 50px; height: 50px;"></i>
                <div class="col-sm-10">
                    <a routerLink="/board/localization/Gdansk" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Gdańsk
                        </button>
                    </a>
                    <a routerLink="/board/localization/Warszawa" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Warszawa
                        </button>
                    </a>
                    <a routerLink="/board/localization/Wroclaw" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Wrocław
                        </button>
                    </a>
                    <a routerLink="/board/localization/Kraków" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Kraków
                        </button>
                    </a>
                    <a routerLink="/board/localization/Poznan" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Poznań
                        </button>
                    </a>
                    <a routerLink="/board/localization/Lodz" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Łódź
                        </button>
                    </a>
                    <a routerLink="/board/localization/Remote" style="text-decoration: none; color: black;">
                        <button class="btn btn-outline-light rounded-0" type="button"
                            style="width: 100px; margin-right: 5px;">
                            Remote
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>